@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --orange: #ffa31a;
    --gray: #212122;
    --white: #ffffff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    direction: ltr;
}

/* html.Flipped{
    direction: rtl;
} */
html::-webkit-scrollbar{
    background-color: var(--orange);
    width:.7rm;
}

html::-webkit-scrollbar-track{
    
    background:var(--gray);
    /* background: var(--orange); */
}

html::-webkit-scrollbar-thumb{
    background: var(--orange);
    /* background: #555; */
}

body{
    background: #000;
    padding-right: 5rem;
    
}
/* Nav bar */
header{
    
    /* How to move the scrollbar to the left side */
    /* overflow-y: auto; */

    /* direction: rtl; */
    position: fixed;
    top:0; left:0;
    /* top:0; */
    min-height: 100vh;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    background: var(--gray);
    z-index: 1000;
    flex-flow: column;

    /* padding: 8rem 2rem; */
}

header .logo{
    /* position: fixed;
    top: 5rem; right: 1rem; */
    text-transform: uppercase;
    color: var(--orange);
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color: #fff ;
}

header .navbar{
    /* controls the navbar text orientation*/
    /* writing-mode: horizontal-tb; */
    /* direction: rtl; */
    writing-mode: vertical-lr;
    /* text-align: center; */
    padding: 1.5rem;
    /* overflow-y: auto;
    direction: ltr; */
}
/* TESTING TO MOVE THE SCROLLBAR TO THE LEFT STIL FAILS */
/* .Flipped{
    direction: rtl;
} */

header .navbar a{
    text-align: center;
    /* Controls the orientation of the text in navbar */
    /* display: block; */
    /* padding: 1.5rem; */
    text-orientation: upright;
    padding: .5rem;
    font-size: 1.3rem;
    color: #fff;
    margin: 2rem 0;
}
/* 
header .navbar a::after{
    content: '';
    width:0 ;
    height: 3px;
    background: var(--orange);
    position: absolute;
    left:0;
    right: 6px;
    transition:0.5s;
} */



header .navbar a:hover{
    /* width: 100%; */
    color: var(--orange);
}


#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; right: 1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--orange);
    cursor: pointer;
    font-size: 2rem;
    display: none;
    direction: ltr;
}

section{
    padding: 2rem 9%;
    min-height: 100vh;
}
/* ABOUT ME */
.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.heading span{
    text-transform: uppercase;
    color: var(--orange);
}
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img{
    width: 30rem;
    border-radius: rem;
    border: 1rem solid var(--white);
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1); */
}

.about .row .content{
    flex:1 1 55rem;
    text-transform: uppercase;
    color: var(--white);

}
/* My name is Karl Joseph Aguilar */
.about .row .content h3{
    color:var(--white);
    font-size: 4rem;
}

.about .row .content h3 span{
    color:var(--orange);
    font-size: 4rem;
}

.about .row .content .info{
    color:var(--white);
    font-size: 2rem;
    padding:1rem 0;
    line-height: 2;

}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;

}
.about .row .content .box-container .box{
    flex:1 1 20rem;
}
.about .row .content .box-container .box p{
    font-size: 2.5rem;
    color:var(--white);
    padding: 3rem 0;
    line-height: 2;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--gray);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 25px;
}

.btn:hover{
    background-color:var(--orange);
    letter-spacing: .2rem;
}

.home{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    background-attachment: fixed;
    position: absolute;
    top: 0; ;left: 0;
    height: 100%;
    width: 100%;
}

.home::before{
    background-attachment: fixed;
    content: '';
    position: absolute;
    top: 0; ;left: 0;
    height: 100%;
    width: 100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

/* .home .content img{
    width:25em; 
    height:25em;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid var(--orange);
} */

.home .content h2{
    font-size: 3rem;
    color:#fff;
    text-transform: uppercase;
}
.home .content h3{
    font-size: 6rem;
    color:#fff;
    text-transform: uppercase;
}

.home .content h3 span{
    font-size: 6rem;
    color:#ffa31a;
    text-transform: uppercase;
}

.home .content p{
    font-size: 3rem;
    color: #fff;
}


/* POTFOLIO */

#services{
    padding: 30px 0;
}

.services-list{
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;
}

.services-list h2{
    font-size: 3rem;
    color:var(--white);
    text-transform: uppercase;
}

.services-list p{
    font-size: 3rem;
    color:#ffa31a;
    text-transform: uppercase;
}











/* Media queries for screen responsiveness */

@media (max-width:991px){
    html{
        /* font-size: 62.5%; */

        font-size:80%;
    }
    body{
        padding-right: 0;

    }
    header{
        width: 100%;
        /* right: -120%; */
        left: -120%;
    }
    /* MAKE sure theres no space in order for this to work */
    header.active{
        left: 0%;
    }
    #menu-bars{
        display: initial;
        /* width:  0.5%;
        height: 0.5%; */
    }
    header .navbar{
       writing-mode: horizontal-tb;
    }
    header .navbar a{
        display: block;
        font-size: 7rm;
    }
}

@media (max-width:450px){
    html{
        font-size: 70%;
    }

    .heading{
        font-size: 8rem;
    }

}
