@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --orange: #ffa31a;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rm;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--orange);
}

body{
    background:#eee;
    padding-right: 5rem;
}

header{
    position: fixed;
    top:0; right:0;
    /* top:0; */
    min-height: 100vh;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    background: rgb(34, 33, 33);
    z-index: 1000;
    flex-flow: column;
    /* padding: 8rem 2rem; */
}

header .logo{
    /* position: fixed;
    top: 5rem; right: 1rem; */
    text-transform: uppercase;
    color: var(--orange);
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color: #fff ;
}

header .navbar{
    /* controls the navbar text orientation*/
    /* writing-mode: horizontal-tb; */
    writing-mode: vertical-lr;
    /* text-align: center; */
    padding: 1.5rem;
}

header .navbar a{
    text-align: center;
    
    /* Controls the orientation of the text in navbar */
    /* display: block; */
    padding: 1.5rem;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover{
    color: var(--orange);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left: 1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--orange);
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/* Media queries for screen responsiveness */

@media (max-width:991px){
    html{
        font-size: 62.5%;
    }
    body{
        padding-right: 0;

    }
    header{
        width: 100%;
        left: -120%;
    }
    /* MAKE sure theres no space in order for this to work */
    header.active{
        left: 0%;
    }
    #menu-bars{
        display: initial;
    }
    header .navbar{
       writing-mode: horizontal-tb;
    }
    header .navbar a{
        display: block;
        font-size: 3rm;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    
}

section{
    padding: 2rem 9%;
    min-height: 100vh;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home #particles-js{
    position: absolute;
    top: 0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top: 0; left:0;
    height:100%;
    width:100%;
}
.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    width:25em; 
    height:25em;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid var(--orange);
}
/* This is for the hover effect in the image */
/* .home .content.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .home .contentr:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */
  
.home .content h3{
    font-size: 4rem;
    color:#fff;
    text-transform: uppercase;
}

.home .content h3 span{
    font-size: 4rem;
    color:#ffa31a;
    text-transform: uppercase;
}

